:root {
  --primary: #5118ac;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}

.btn {
  background: var(--primary);
  border: none;
  cursor: pointer;
  height: 32px;
  outline: none;
  text-align: center;
  width: 32px;
  &-rounded {
    border-radius: 50%;
  }
}

.wrapper {
  background: rgb(219, 219, 223);
  display: grid;
  grid-auto-flow: dense;
  grid-column-gap: 8px;
  grid-row-gap: 4px;
  grid-template-areas: 'header header' 'content content';
  grid-template-columns: 1fr;
  grid-template-rows: minmax(64px, auto) 1fr;
  height: 100%;
  padding: 20px;
  width: 100%;
}

.year-wrapper {
  align-items: center;
  background: #f3f3f3;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #aaa;
  display: flex;
  flex-wrap: wrap;
  grid-area: header;
  justify-content: space-around;
  line-height: 64px;
  text-align: center;
  width: 100%;
  .year {
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 1px 2px #aaa;
    display: flex;
    height: 48px;
    justify-content: space-around;
    width: 200px;
  }
  .month-year {
    width: 300px;
  }
}